Repository sjbarag/brs, pull requests merged in 2018-12, with the labels that each got.

#90 feat(parse,interp): Implement setters for arrays and associative arrays
  src/brsTypes/components/AssociativeArray.ts
  src/brsTypes/components/BrsArray.ts
  src/brsTypes/components/BrsComponent.ts
  src/interpreter/AstPrinter.ts
  src/interpreter/Environment.ts
  src/interpreter/index.ts
  src/parser/Expression.ts
  src/parser/Statement.ts
  src/parser/index.ts
  test/brsTypes/Array.test.js
  test/brsTypes/AssociativeArray.test.js
  test/e2e/Iterables.test.js
  test/e2e/resources/arrays.brs
  test/e2e/resources/associative-arrays.brs
  test/interpreter/Get.test.js
  test/interpreter/Indexing.test.js
  test/interpreter/Set.test.js
  test/parser/expression/ArrayIndexing.test.js
  test/parser/expression/Indexing.test.js
  test/parser/expression/__snapshots__/ArrayIndexing.test.js.snap
  test/parser/expression/__snapshots__/Indexing.test.js.snap
  test/parser/statement/Declaration.test.js
  test/parser/statement/Set.test.js
  test/parser/statement/__snapshots__/Set.test.js.snap
Labels: bug, e2e, enhancement, interpreter, parser

#89 implements file reads/writes using memfs library (#88)
  package.json
  src/interpreter/index.ts
  src/stdlib/File.ts
  src/stdlib/index.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/files.brs
  test/stdlib/File.test.js
  yarn.lock
Labels: e2e, enhancement, stdlib

#86 processing multiple brs files in same interpreter
  bin/cli.js
  src/index.ts
  test/e2e/Brs.test.js
  test/e2e/Functions.test.js
  test/e2e/Iterables.test.js
  test/e2e/StdLib.test.js
  test/e2e/Syntax.test.js
  test/e2e/TypeChecking.test.js
  test/e2e/resources/multi-file/test1.brs
  test/e2e/resources/multi-file/test2.brs
Labels: cli, e2e, enhancement

#97 fix(lex): Allow `end function` and others to use mixed case
  src/lexer/Lexer.ts
  test/lexer/Lexer.test.js
Labels: bug, lexer

#99 fix(parse): Allow optional 'then' in 'if' statements
  src/parser/index.ts
  test/parser/controlFlow/If.test.js
  test/parser/controlFlow/__snapshots__/If.test.js.snap
Labels: bug, parser

#100 Implement StrToI() function (Issue #94)
  src/interpreter/index.ts
  src/stdlib/String.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/strings.brs
  test/stdlib/String.test.js
Labels: e2e, enhancement, stdlib

#95 fix(lex,parse,interp): Decouple reserved words and keywords
  src/interpreter/index.ts
  src/lexer/Lexer.ts
  src/lexer/ReservedWords.ts
  src/lexer/Token.ts
  src/parser/index.ts
  test/interpreter/FunctionDeclaration.test.js
  test/interpreter/Variables.test.js
  test/lexer/Lexer.test.js
Labels: bug, enhancement, interpreter, lexer, parser

#103 fix(parse): Allow `as object` argument type suffix
  src/brsTypes/BrsType.ts
  src/brsTypes/Callable.ts
  src/parser/index.ts
  test/brsTypes/Callable.test.js
  test/parser/expression/Function.test.js
  test/parser/expression/__snapshots__/Function.test.js.snap
Labels: bug, parser

#101 feat(interp,env): Implement `m` pointer
  src/brsTypes/Callable.ts
  src/interpreter/Environment.ts
  src/interpreter/index.ts
  test/e2e/Functions.test.js
  test/e2e/resources/function/m-pointer.brs
  test/interpreter/Call.test.js
  test/interpreter/Environment.test.js
Labels: e2e, interpreter

#104 chore(interp): Don't require explicit stdlib registration
  src/interpreter/index.ts
Labels: interpreter, stdlib

#105 Implement CreateObject()
  src/brsTypes/components/BrsObjects.ts
  src/brsTypes/index.ts
  src/stdlib/CreateObject.ts
  src/stdlib/index.ts
  test/brsTypes/BrsObjects.test.js
  test/stdlib/CreateObject.test.ts
Labels: enhancement, stdlib

#108 test(stdlib): Port CreateObject stdlib tests to javascript
  README.md
  test/stdlib/CreateObject.test.js
  test/stdlib/CreateObject.test.ts
Labels: stdlib

#111 fix(interp): Allow named functions to shadow global stdlib functions
  src/interpreter/Environment.ts
  src/interpreter/index.ts
  test/interpreter/FunctionDeclaration.test.js
Labels: bug, interpreter, stdlib

#106 implements file I/O operations for issue #87
  package.json
  src/interpreter/index.ts
  src/stdlib/File.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/files.brs
  test/stdlib/File.test.js
  yarn.lock
Labels: enhancement, stdlib

#110 feat(stdlib): Implement ifArray on array types
  src/brsTypes/BrsType.ts
  src/brsTypes/components/AssociativeArray.ts
  src/brsTypes/components/BrsArray.ts
  src/brsTypes/components/BrsComponent.ts
  src/brsTypes/components/BrsObjects.ts
  src/brsTypes/index.ts
  src/interpreter/index.ts
  src/stdlib/CreateObject.ts
  src/stdlib/File.ts
  src/stdlib/Type.ts
  test/brsTypes/Array.test.js
  test/brsTypes/BrsObjects.test.js
  test/brsTypes/components/Array.test.js
  test/brsTypes/components/AssociativeArray.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/resources/components/roArray.brs
  test/interpreter/Call.test.js
  test/stdlib/Runtime.test.js
Labels: enhancement, interpreter, stdlib

#114 feat(interp): Automatically call main() function
  bin/cli.js
  package.json
  src/index.ts
  src/interpreter/index.ts
  test/e2e/resources/components/roArray.brs
  test/e2e/resources/function/m-pointer.brs
  test/e2e/resources/function/scoping.brs
  test/e2e/resources/multi-file/test2.brs
  test/e2e/resources/stdlib/runtime.brs
  test/interpreter/FunctionDeclaration.test.js
  yarn.lock
Labels: cli, e2e, enhancement, interpreter

#116 chore(cleanup): Remove unnecessary `Stringify` module
  src/Stringify.ts
  src/index.ts
  src/interpreter/index.ts
Labels: interpreter

#117 chore(infra): Test on node 6, 8, and 10
  .travis.yml
Labels: build

#115 fix(interp): Allow all types to be compared for equality to `invalid`
  src/brsTypes/index.ts
  src/interpreter/index.ts
  test/interpreter/Arithmetic.test.js
  test/interpreter/BooleanAlgebra.test.js
  test/interpreter/Comparison.test.js
Labels: bug, interpreter

#118 chore(arch): Move parser to parser/Parser.ts
  src/index.ts
  src/interpreter/index.ts
  src/parser/Parser.ts
  src/parser/index.ts
  test/parser/controlFlow/For.test.js
  test/parser/controlFlow/ForEach.test.js
  test/parser/controlFlow/If.test.js
  test/parser/controlFlow/While.test.js
  test/parser/expression/Additive.test.js
  test/parser/expression/ArrayLiterals.test.js
  test/parser/expression/AssociativeArrayLiterals.test.js
  test/parser/expression/Boolean.test.js
  test/parser/expression/Call.test.js
  test/parser/expression/Exponential.test.js
  test/parser/expression/Function.test.js
  test/parser/expression/Indexing.test.js
  test/parser/expression/Multiplicative.test.js
  test/parser/expression/Primary.test.js
  test/parser/expression/Relational.test.js
  test/parser/expression/Unary.test.js
  test/parser/statement/Declaration.test.js
  test/parser/statement/Function.test.js
  test/parser/statement/PrintStatement.test.js
  test/parser/statement/ReturnStatement.test.js
  test/parser/statement/Set.test.js
Labels: parser

#120 feat(lex,preprocessor): Add basic support for conditional compilation
  src/index.ts
  src/interpreter/index.ts
  src/lexer/Lexeme.ts
  src/lexer/Lexer.ts
  src/lexer/Token.ts
  src/parser/ParseError.ts
  src/parser/Parser.ts
  src/preprocessor/Chunk.ts
  src/preprocessor/Parser.ts
  src/preprocessor/Preprocessor.ts
  src/preprocessor/index.ts
  test/e2e/ConditionalCompilation.test.js
  test/e2e/resources/conditional-compilation/compile-error.brs
  test/e2e/resources/conditional-compilation/conditionals.brs
  test/interpreter/FunctionDeclaration.test.js
  test/lexer/Lexer.test.js
  test/parser/expression/__snapshots__/ArrayLiterals.test.js.snap
  test/parser/expression/__snapshots__/Boolean.test.js.snap
  test/parser/expression/__snapshots__/Unary.test.js.snap
  test/parser/statement/__snapshots__/ReturnStatement.test.js.snap
  test/preprocessor/__snapshots__/parser.test.js.snap
  test/preprocessor/parser.test.js
  test/preprocessor/preprocessor.test.js
Labels: e2e, enhancement, lexer, preprocessor
