Repository sjbarag/brs, pull requests merged in 2018-11, with the labels that each got.

#67 feat(lex,parse,interp): Implement array literals (with indexing) and for-each loops
  src/Error.ts
  src/Lexeme.ts
  src/ReservedWords.ts
  src/brsTypes/BrsType.ts
  src/brsTypes/Callable.ts
  src/brsTypes/components/BrsArray.ts
  src/brsTypes/components/BrsComponent.ts
  src/brsTypes/index.ts
  src/interpreter/AstPrinter.ts
  src/interpreter/BrsFunction.ts
  src/interpreter/index.ts
  src/lexer/index.ts
  src/parser/Expression.ts
  src/parser/Statement.ts
  src/parser/index.ts
  test/Lexer.test.js
  test/brsTypes/Array.test.js
  test/e2e/Iterables.test.js
  test/e2e/resources/arrays.brs
  test/interpreter/Comparison.test.js
  test/interpreter/For.test.js
  test/interpreter/ForEach.test.js
  test/interpreter/Indexing.test.js
  test/parser/controlFlow/For.test.js
  test/parser/controlFlow/ForEach.test.js
  test/parser/controlFlow/__snapshots__/ForEach.test.js.snap
  test/parser/expression/ArrayIndexing.test.js
  test/parser/expression/ArrayLiterals.test.js
  test/parser/expression/__snapshots__/ArrayIndexing.test.js.snap
  test/parser/expression/__snapshots__/ArrayLiterals.test.js.snap
  test/parser/expression/__snapshots__/Function.test.js.snap
  test/parser/statement/__snapshots__/Function.test.js.snap
  test/parser/statement/__snapshots__/ReturnStatement.test.js.snap
Labels: e2e, enhancement, interpreter, lexer, parser

#68 Str stri val implementation
  src/brsTypes/Float.ts
  src/interpreter/index.ts
  src/stdlib/String.ts
  test/brsTypes/Float.test.js
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/strings.brs
  test/stdlib/String.test.js
Labels: e2e, enhancement, stdlib

#70 implement math functions Exp, Log, Sqrt, and Rnd (issue 47)
  src/interpreter/index.ts
  src/stdlib/Math.ts
  src/stdlib/index.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/math.brs
  test/stdlib/Math.test.js
Labels: e2e, enhancement, stdlib

#71 add trig functions Atan, Cos, Sin, Tan
  src/interpreter/index.ts
  src/stdlib/Math.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/math.brs
  test/stdlib/Math.test.js
Labels: e2e, enhancement, stdlib

#73 feat(stdlib,interp): Allow multiple overloads for stdlib functions
  package.json
  src/brsTypes/Callable.ts
  src/index.ts
  src/interpreter/BrsFunction.ts
  src/interpreter/Environment.ts
  src/interpreter/index.ts
  src/stdlib/Math.ts
  src/stdlib/Print.ts
  src/stdlib/String.ts
  src/stdlib/index.ts
  test/brsTypes/Callable.test.js
  test/e2e/TypeChecking.test.js
  test/e2e/resources/type-checking/mismatched-return-type.brs
  test/interpreter/Call.test.js
  test/interpreter/Environment.test.js
  test/interpreter/For.test.js
  test/stdlib/String.test.js
  yarn.lock
Labels: bug, e2e, enhancement, interpreter, stdlib

#72 implements Abs, Cdbl, Cint, Csng, Fix, Int, Sgn (issue #46)
  src/interpreter/index.ts
  src/stdlib/Math.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/math.brs
  test/stdlib/Math.test.js
Labels: e2e, enhancement, stdlib

#75 implement Substitute function (issue #51)
  src/interpreter/index.ts
  src/stdlib/String.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/strings.brs
  test/stdlib/String.test.js
Labels: e2e, enhancement, stdlib

#76 feat(types): Implement AssociativeArrays with dotted and bracketed indexing
  src/Token.ts
  src/brsTypes/BrsNumber.ts
  src/brsTypes/BrsType.ts
  src/brsTypes/Callable.ts
  src/brsTypes/Double.ts
  src/brsTypes/Float.ts
  src/brsTypes/Int32.ts
  src/brsTypes/Int64.ts
  src/brsTypes/components/AssociativeArray.ts
  src/brsTypes/index.ts
  src/interpreter/AstPrinter.ts
  src/interpreter/index.ts
  src/parser/Expression.ts
  src/parser/index.ts
  test/brsTypes/AssociativeArray.test.js
  test/e2e/Functions.test.js
  test/parser/expression/AssociativeArrayLiterals.test.js
  test/parser/expression/__snapshots__/AssociativeArrayLiterals.test.js.snap
  test/parser/expression/__snapshots__/Function.test.js.snap
  test/parser/statement/__snapshots__/Function.test.js.snap
  test/parser/statement/__snapshots__/ReturnStatement.test.js.snap
Labels: enhancement, interpreter, lexer, stdlib

#84 chore(arch): Move lexer and friends into lexer/
  src/index.ts
  src/interpreter/Environment.ts
  src/interpreter/index.ts
  src/lexer/Lexeme.ts
  src/lexer/Lexer.ts
  src/lexer/ReservedWords.ts
  src/lexer/Token.ts
  src/lexer/index.ts
  src/parser/BlockEndReason.ts
  src/parser/Expression.ts
  src/parser/ParseError.ts
  src/parser/Statement.ts
  src/parser/index.ts
  test/interpreter/Arithmetic.test.js
  test/interpreter/BooleanAlgebra.test.js
  test/interpreter/Call.test.js
  test/interpreter/Comparison.test.js
  test/interpreter/Environment.test.js
  test/interpreter/For.test.js
  test/interpreter/ForEach.test.js
  test/interpreter/FunctionDeclaration.test.js
  test/interpreter/FunctionExpression.test.js
  test/interpreter/If.test.js
  test/interpreter/Indexing.test.js
  test/interpreter/PrintStatements.test.js
  test/interpreter/Variables.test.js
  test/interpreter/While.test.js
  test/lexer/Lexer.test.js
  test/parser/ParserTests.js
  test/parser/controlFlow/For.test.js
  test/parser/controlFlow/ForEach.test.js
  test/parser/controlFlow/If.test.js
  test/parser/controlFlow/While.test.js
  test/parser/expression/Additive.test.js
  test/parser/expression/ArrayIndexing.test.js
  test/parser/expression/ArrayLiterals.test.js
  test/parser/expression/AssociativeArrayLiterals.test.js
  test/parser/expression/Boolean.test.js
  test/parser/expression/Call.test.js
  test/parser/expression/Exponential.test.js
  test/parser/expression/Function.test.js
  test/parser/expression/Multiplicative.test.js
  test/parser/expression/Primary.test.js
  test/parser/expression/Relational.test.js
  test/parser/expression/Unary.test.js
  test/parser/statement/Declaration.test.js
  test/parser/statement/Function.test.js
  test/parser/statement/PrintStatement.test.js
  test/parser/statement/ReturnStatement.test.js
Labels: enhancement, lexer
