Repository sjbarag/brs, pull requests merged in 2018-04, with the labels that each got.

#35 feat(parse,interp,e2e): Add basic global native functions
  src/brsTypes/BrsType.ts
  src/brsTypes/Callable.ts
  src/brsTypes/index.ts
  src/index.ts
  src/interpreter/AstPrinter.ts
  src/interpreter/Environment.ts
  src/interpreter/index.ts
  src/parser/Expression.ts
  src/parser/index.ts
  src/stdlib/String.ts
  src/stdlib/index.ts
  test/brsTypes/Callable.test.js
  test/e2e/E2ETests.js
  test/e2e/StdLib.test.js
  test/e2e/Syntax.test.js
  test/e2e/resources/stdlib/strings.brs
  test/interpreter/Arithmetic.test.js
  test/interpreter/BooleanAlgebra.test.js
  test/interpreter/Call.test.js
  test/interpreter/Comparison.test.js
  test/interpreter/For.test.js
  test/interpreter/If.test.js
  test/interpreter/Variables.test.js
  test/interpreter/While.test.js
  test/parser/expression/Call.test.js
  test/parser/expression/__snapshots__/Call.test.js.snap
  test/stdlib/String.test.js
Labels: e2e, enhancement, interpreter, parser

#37 Changes package.json to point at lib/index.js instead of index.js
  package.json
Labels: bug

#38 fix(build): Clean, build, and test before publishing
  package.json
  yarn.lock
Labels: build, enhancement

#36 implemented Asc() and Chr() global string functions
  src/interpreter/index.ts
  src/stdlib/String.ts
  test/stdlib/String.test.js
Labels: enhancement, stdlib

#41 test(stdlib): Add end-to-end tests for Chr and Asc
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/strings.brs
  test/stdlib/String.test.js
Labels: e2e, enhancement, stdlib

#42 feat(interp,stdlib): Add call-time type checking
  src/Error.ts
  src/brsTypes/BrsType.ts
  src/brsTypes/Callable.ts
  src/brsTypes/index.ts
  src/index.ts
  src/interpreter/index.ts
  src/stdlib/String.ts
  src/stdlib/index.ts
  test/brsTypes/Callable.test.js
  test/e2e/TypeChecking.test.js
  test/e2e/resources/calls.brs
  test/e2e/resources/type-checking/arg-type-mismatch.brs
  test/e2e/resources/type-checking/too-few-args.brs
  test/e2e/resources/type-checking/too-many-args.brs
  test/interpreter/Call.test.js
  test/stdlib/String.test.js
Labels: e2e, enhancement, interpreter, stdlib
