Repository sjbarag/brs, pull requests merged in 2018-03, with the labels that each got.

#32 fix(lex): Don't treat 'exitfor' as a reserved word
  src/Lexeme.ts
  src/ReservedWords.ts
  test/Lexer.test.js
Labels: bug, lexer

#33 feat: Add for/to loops
  src/Lexeme.ts
  src/ReservedWords.ts
  src/parser/Statement.ts
  src/parser/index.ts
  src/visitor/Environment.ts
  src/visitor/Interpreter.ts
  test/e2e/EndToEnd.test.js
  test/e2e/resources/for-loops.brs
  test/interpreter/For.test.js
  test/interpreter/While.test.js
  test/parser/__snapshots__/Boolean.test.js.snap
  test/parser/controlFlow/For.test.js
  test/parser/controlFlow/__snapshots__/For.test.js.snap
  test/parser/expression/__snapshots__/Unary.test.js.snap
Labels: e2e, enhancement, interpreter, lexer, parser

#34 improved error handling of non-readable input files (issue #21)
  bin/cli.js
  src/index.ts
Labels: bug, cli
