Repository sjbarag/brs, pull requests merged in 2019-05, with the labels that each got.

#211 Parser support support all keywords as property names
  src/lexer/Lexeme.ts
  src/lexer/Lexer.ts
  src/lexer/ReservedWords.ts
  src/parser/Parser.ts
  src/parser/Statement.ts
  test/parser/expression/AssociativeArrayLiterals.test.js
  test/parser/expression/__snapshots__/AssociativeArrayLiterals.test.js.snap
  test/parser/statement/Misc.test.js
  test/parser/statement/__snapshots__/Misc.test.js.snap
Labels: bug, lexer, parser

#228 feat(lex,types,e2e): Add support for hex literals
  src/brsTypes/Int32.ts
  src/brsTypes/Int64.ts
  src/lexer/Characters.ts
  src/lexer/Lexer.ts
  test/brsTypes/Int32.test.js
  test/brsTypes/Int64.test.js
  test/e2e/Syntax.test.js
  test/e2e/resources/printLiterals.brs
  test/lexer/Lexer.test.js
Labels: e2e, enhancement, lexer, stdlib

#216 Parser support library
  src/parser/Parser.ts
  src/parser/Statement.ts
  test/parser/statement/LibraryStatement.test.js
  test/parser/statement/__snapshots__/LibraryStatement.test.js.snap
Labels: enhancement, parser

#238 fix(parse): Allow `sub` declarations with return-type specifications
  src/parser/Parser.ts
Labels: bug, parser

#236 chore(build): Drop support for node 6
  .circleci/config.yml
  bin/cli.js
  package.json
  src/brsTypes/components/Regex.ts
  src/index.ts
  src/lexer/Lexer.ts
  src/parser/Parser.ts
  src/preprocessor/Manifest.ts
  test/cli/cli.test.js
  test/e2e/Brs.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/ConditionalCompilation.test.js
  test/e2e/Functions.test.js
  test/e2e/Iterables.test.js
  test/e2e/StdLib.test.js
  test/e2e/Syntax.test.js
  test/preprocessor/Manifest.test.js
  tsconfig.json
  yarn.lock
Labels: build, enhancement

#240 feat(lex,interp): Add runtime support for type designators
  src/Error.ts
  src/interpreter/index.ts
  src/lexer/Lexer.ts
  src/parser/BlockEndReason.ts
  src/parser/Parser.ts
  test/e2e/TypeChecking.test.js
  test/e2e/resources/type-checking/assignment-type-mismatch.brs
  test/interpreter/Variables.test.js
  test/lexer/Lexer.test.js
Labels: bug, e2e, enhancement, interpreter, lexer

#241 fix(lex): Allow digits before and after `.` to be elided
  src/lexer/Lexer.ts
  test/lexer/Lexer.test.js
Labels: bug, lexer

#234 Consume trailing colons for if statements
  src/parser/Parser.ts
  test/parser/controlFlow/If.test.js
  test/parser/controlFlow/__snapshots__/If.test.js.snap
Labels: bug, parser

#242 feat(lex,parse,interp,e2e): Implement global LINE_NUM variable
  src/interpreter/Environment.ts
  src/interpreter/index.ts
  src/lexer/Lexeme.ts
  src/lexer/ReservedWords.ts
  src/parser/BlockEndReason.ts
  src/parser/Parser.ts
  test/e2e/Syntax.test.js
  test/e2e/resources/reserved-words.brs
  test/interpreter/Environment.test.js
  test/interpreter/For.test.js
  test/interpreter/ForEach.test.js
  test/interpreter/FunctionDeclaration.test.js
  test/interpreter/While.test.js
  test/lexer/Lexer.test.js
Labels: bug, e2e, enhancement, interpreter, lexer, parser

#244 chore(types): Rename components to their Ro names
  src/brsTypes/components/BrsObjects.ts
  src/brsTypes/components/RoArray.ts
  src/brsTypes/components/RoAssociativeArray.ts
  src/brsTypes/components/RoRegex.ts
  src/brsTypes/index.ts
  src/interpreter/Environment.ts
  src/interpreter/index.ts
  src/stdlib/File.ts
  src/stdlib/Json.ts
  test/brsTypes/BrsObjects.test.js
  test/brsTypes/components/RoArray.test.js
  test/brsTypes/components/RoAssociativeArray.test.js
  test/brsTypes/components/RoRegex.js
  test/interpreter/Comparison.test.js
  test/interpreter/Environment.test.js
  test/stdlib/Json.test.js
  test/stdlib/Runtime.test.js
Labels: enhancement, stdlib

#245 chore(deps): Upgrade dependencies
  yarn.lock
Labels: build

#246 Empty print statement
  package.json
  src/parser/Parser.ts
  test/parser/statement/PrintStatement.test.js
  test/parser/statement/__snapshots__/PrintStatement.test.js.snap
Labels: bug, enhancement, parser

#249 fix(lex): Allow single-word #elseif and #endif
  src/lexer/Lexer.ts
  test/lexer/Lexer.test.js
Labels: bug, lexer
