Repository sjbarag/brs, pull requests merged in 2019-01, with the labels that each got.

#119 Add FormatJson, ParseJson stdlib functions
  src/stdlib/Json.ts
  src/stdlib/index.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/json.brs
  test/stdlib/Json.test.js
Labels: e2e, enhancement, stdlib

#121 Add BRS runtime error handling
  src/interpreter/index.ts
Labels: bug, interpreter

#130 fix(interp): Tighten up restrictions on `return` statement usage
  src/Error.ts
  src/interpreter/index.ts
  src/parser/BlockEndReason.ts
  src/parser/Parser.ts
  test/e2e/resources/function/m-pointer.brs
  test/interpreter/Call.test.js
  test/parser/expression/__snapshots__/Function.test.js.snap
  test/parser/statement/__snapshots__/Function.test.js.snap
Labels: bug, interpreter

#135 fix(parse): Allow ':'-separated function expressions
  src/parser/Parser.ts
  test/parser/expression/Function.test.js
  test/parser/expression/__snapshots__/Function.test.js.snap
Labels: bug, parser

#138 chore(infra): Upgrade to typescript@3
  package.json
  yarn.lock
Labels: bug, build, enhancement

#139 fix(build): Use npmjs.com as registry instead of yarnpkg.com
  .npmrc
Labels: bug, build

#143 chore(deps): Upgrade dependencies
  package.json
  test/lexer/Lexer.test.js
  yarn.lock
Labels: build
