Repository sjbarag/brs, pull requests merged in 2019-09, with the labels that each got.

#290 Added "quit" and "exit" cli statements and fixed "invalid" message #272 #273
  bin/cli.js
  src/index.ts
Labels: cli, enhancement

#321 chore(test): Remove spurious console.log
  test/parser/statement/Block.test.js
Labels: enhancement

#322 chore(deps): Upgrade all dependencies
  yarn.lock
Labels: build, enhancement

#284 Implement ifSGNodeChildren and ifSGNodeDict interfaces
  src/brsTypes/components/BrsComponent.ts
  src/brsTypes/components/RoSGNode.ts
  src/interpreter/Environment.ts
  src/interpreter/index.ts
  src/mocks/MockNode.ts
  src/mocks/mockComponent.ts
  src/stdlib/CreateObject.ts
  test/brsTypes/components/RoSGNode.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/BrsMock.test.js
  test/e2e/resources/components/roSGNode.brs
  test/e2e/resources/mocks.brs
  test/interpreter/Environment.test.js
  test/mocks/MockNode.test.js
Labels: enhancement, interpreter, stdlib

#292 Bitshift operations
  src/brsTypes/BrsNumber.ts
  src/brsTypes/Double.ts
  src/brsTypes/Float.ts
  src/brsTypes/Int32.ts
  src/brsTypes/Int64.ts
  src/interpreter/index.ts
  src/parser/Parser.ts
  test/e2e/Syntax.test.js
  test/e2e/resources/arithmetic.brs
  test/interpreter/Arithmetic.test.js
Labels: enhancement, interpreter, parser

#325 chore(naming): rename src/mocks/ -> src/extensions/
  src/extensions/MockNode.ts
  src/extensions/mockComponent.ts
  src/interpreter/index.ts
  src/stdlib/CreateObject.ts
  test/extensions/MockNode.test.js
Labels: stdlib

#323 Fixes on roAssociativeArray and roArray
  src/brsTypes/components/RoArray.ts
  src/brsTypes/components/RoAssociativeArray.ts
  test/brsTypes/components/RoAssociativeArray.test.js
  test/e2e/resources/components/roArray.brs
  test/e2e/resources/components/roAssociativeArray.brs
Labels: bug, enhancement, stdlib
