Repository sjbarag/brs, pull requests merged in 2019-03, with the labels that each got.

#184 fix(lex,parse,interp): Remove ^= operator
  src/interpreter/index.ts
  src/lexer/Lexeme.ts
  src/lexer/Lexer.ts
  src/parser/Parser.ts
  test/e2e/Syntax.test.js
  test/e2e/resources/assignment-operators.brs
  test/interpreter/AssignmentOperators.test.js
  test/parser/controlFlow/__snapshots__/For.test.js.snap
  test/parser/controlFlow/__snapshots__/ForEach.test.js.snap
  test/parser/controlFlow/__snapshots__/If.test.js.snap
  test/parser/controlFlow/__snapshots__/While.test.js.snap
  test/parser/expression/__snapshots__/Additive.test.js.snap
  test/parser/expression/__snapshots__/ArrayLiterals.test.js.snap
  test/parser/expression/__snapshots__/AssociativeArrayLiterals.test.js.snap
  test/parser/expression/__snapshots__/Boolean.test.js.snap
  test/parser/expression/__snapshots__/Call.test.js.snap
  test/parser/expression/__snapshots__/Exponential.test.js.snap
  test/parser/expression/__snapshots__/Function.test.js.snap
  test/parser/expression/__snapshots__/Indexing.test.js.snap
  test/parser/expression/__snapshots__/Multiplicative.test.js.snap
  test/parser/expression/__snapshots__/Primary.test.js.snap
  test/parser/expression/__snapshots__/Relational.test.js.snap
  test/parser/expression/__snapshots__/Unary.test.js.snap
  test/parser/statement/AssignmentOperators.test.js
  test/parser/statement/__snapshots__/AssignmentOperators.test.js.snap
  test/parser/statement/__snapshots__/Declaration.test.js.snap
  test/parser/statement/__snapshots__/Function.test.js.snap
  test/parser/statement/__snapshots__/PrintStatement.test.js.snap
  test/parser/statement/__snapshots__/ReturnStatement.test.js.snap
  test/parser/statement/__snapshots__/Set.test.js.snap
  test/preprocessor/__snapshots__/parser.test.js.snap
Labels: bug, e2e, interpreter, lexer, parser

#185 fix(parse,e2e): Allow 'function' as an argument type
  src/brsTypes/BrsType.ts
  test/e2e/resources/function/expressions.brs
  test/parser/expression/Function.test.js
  test/parser/expression/__snapshots__/Function.test.js.snap
Labels: bug, e2e, parser

#183 chore(ci): Configure nightly builds
  .circleci/config.yml
  package.json
  scripts/getNightlyVersion.js
Labels: build, enhancement

#186 fix(lex,parse,e2e): Allow 'then' as a property
  src/lexer/Lexeme.ts
  src/lexer/ReservedWords.ts
  src/parser/Parser.ts
  test/e2e/Syntax.test.js
  test/e2e/resources/reserved-words.brs
  test/interpreter/If.test.js
  test/parser/controlFlow/If.test.js
  test/parser/controlFlow/__snapshots__/For.test.js.snap
  test/parser/controlFlow/__snapshots__/If.test.js.snap
  test/parser/controlFlow/__snapshots__/While.test.js.snap
  test/parser/expression/__snapshots__/Function.test.js.snap
  test/preprocessor/__snapshots__/parser.test.js.snap
Labels: bug, e2e, lexer, parser

#188 fix(parse): Allow mixed-case then
  src/lexer/Lexer.ts
  src/parser/Parser.ts
  test/parser/ParserTests.js
  test/parser/controlFlow/If.test.js
  test/parser/controlFlow/__snapshots__/If.test.js.snap
Labels: bug, lexer, parser

#189 feat(parse): Allow assignment operators in set statements
  src/parser/Parser.ts
  test/e2e/Iterables.test.js
  test/e2e/resources/arrays.brs
  test/e2e/resources/associative-arrays.brs
  test/parser/statement/Set.test.js
  test/parser/statement/__snapshots__/Set.test.js.snap
Labels: bug, e2e, enhancement, parser

#191 fix(parser): Allow complex expressions on RHS of set statements
  src/parser/Parser.ts
  test/e2e/Iterables.test.js
  test/e2e/resources/associative-arrays.brs
  test/parser/expression/Function.test.js
  test/parser/statement/Set.test.js
  test/parser/statement/__snapshots__/Set.test.js.snap
Labels: bug, e2e, parser

#198 Use `name.text` for argument error messages.
  src/interpreter/index.ts
  src/parser/Parser.ts
Labels: bug, parser

#207 Fix for each space
  src/lexer/Lexer.ts
  test/lexer/Lexer.test.js
Labels: bug, lexer

#203 Parser support type designators
  src/lexer/Lexer.ts
  src/parser/Parser.ts
  test/parser/statement/Function.test.js
  test/parser/statement/__snapshots__/Function.test.js.snap
Labels: bug, enhancement, lexer, parser

#206 Add better parser recovery for mismatch end function and end sub
  src/parser/Parser.ts
  test/parser/statement/Function.test.js
  test/parser/statement/__snapshots__/Function.test.js.snap
Labels: bug, parser

#215 Support colons as separators for AA properties
  src/parser/Parser.ts
  test/parser/expression/AssociativeArrayLiterals.test.js
  test/parser/expression/__snapshots__/AssociativeArrayLiterals.test.js.snap
Labels: bug, parser

#214 Better single line recovery
  src/parser/Parser.ts
  test/parser/expression/Call.test.js
  test/parser/expression/__snapshots__/Call.test.js.snap
Labels: enhancement, parser

#219 feat(stdlib): Implement createObject("roRegex")
  src/brsTypes/components/BrsObjects.ts
  src/brsTypes/components/Regex.ts
  src/brsTypes/index.ts
  test/brsTypes/components/Regex.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/resources/components/roRegex.brs
Labels: enhancement, stdlib
