Repository sjbarag/brs, pull requests merged in 2019-02, with the labels that each got.

#144 chore(ci): Enable circleci for builds
  .circleci/config.yml
  package.json
  yarn.lock
Labels: build

#151 fix(parse): Allow `next` keyword as synonym for `end for`
  src/parser/Parser.ts
  test/parser/controlFlow/For.test.js
  test/parser/controlFlow/ForEach.test.js
  test/parser/controlFlow/__snapshots__/For.test.js.snap
  test/parser/controlFlow/__snapshots__/ForEach.test.js.snap
Labels: bug, parser

#154 fix(lexer): Add `next` as a keyword
  src/lexer/ReservedWords.ts
  test/e2e/resources/for-loops.brs
  yarn.lock
Labels: bug, lexer

#153 Added build and npm status badges
  README.md
Labels: documentation, enhancement

#161 test(e2e): Re-enable scoping end-to-end test
  test/e2e/Functions.test.js
  test/e2e/resources/function/scoping.brs
Labels: bug, e2e

#170 fix(lex): Make `stop` not a keyword
  src/lexer/Lexeme.ts
  src/lexer/ReservedWords.ts
  test/e2e/Syntax.test.js
  test/e2e/resources/reserved-words.brs
  test/parser/controlFlow/__snapshots__/For.test.js.snap
  test/parser/controlFlow/__snapshots__/If.test.js.snap
  test/parser/controlFlow/__snapshots__/While.test.js.snap
  test/parser/expression/__snapshots__/Function.test.js.snap
  test/parser/statement/__snapshots__/Function.test.js.snap
  test/preprocessor/__snapshots__/parser.test.js.snap
Labels: bug, lexer, parser

#171 fix(lex): Allow `run` as an identifier
  src/lexer/Lexeme.ts
  src/lexer/ReservedWords.ts
  test/e2e/Syntax.test.js
  test/e2e/resources/reserved-words.brs
  test/parser/controlFlow/__snapshots__/For.test.js.snap
  test/parser/controlFlow/__snapshots__/If.test.js.snap
  test/parser/controlFlow/__snapshots__/While.test.js.snap
  test/parser/expression/__snapshots__/Function.test.js.snap
  test/parser/statement/__snapshots__/Function.test.js.snap
  test/preprocessor/__snapshots__/parser.test.js.snap
Labels: bug, lexer, parser
