Repository sjbarag/brs, pull requests merged in 2019-06, with the labels that each got.

#255 fix(RoRegex): Use empty string instead of Invalid for not-found groups
  src/brsTypes/components/RoRegex.ts
  test/brsTypes/components/RoRegex.test.js
Labels: bug, stdlib

#254 feat(stdlib,interp): Implement autoboxing and roString (ifStringOps only)
  src/brsTypes/Boxing.ts
  src/brsTypes/BrsType.ts
  src/brsTypes/components/BrsComponent.ts
  src/brsTypes/components/BrsObjects.ts
  src/brsTypes/components/RoArray.ts
  src/brsTypes/components/RoAssociativeArray.ts
  src/brsTypes/components/RoRegex.ts
  src/brsTypes/components/RoString.ts
  src/brsTypes/components/Timespan.ts
  src/brsTypes/index.ts
  src/interpreter/AutoBox.ts
  src/interpreter/index.ts
  test/brsTypes/String.test.js
  test/brsTypes/components/RoArray.test.js
  test/brsTypes/components/RoAssociativeArray.test.js
  test/brsTypes/components/RoString.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/resources/components/roString.brs
  test/interpreter/Comparison.test.js
Labels: e2e, enhancement, interpreter, stdlib

#259 chore(deps): Upgrade dependencies
  package.json
  src/Error.ts
  src/interpreter/index.ts
  src/parser/Parser.ts
  src/preprocessor/Manifest.ts
  src/preprocessor/Preprocessor.ts
  yarn.lock
Labels: build, enhancement

#256 feat(stdlib,e2e): Implement global `Run` function
  src/brsTypes/Callable.ts
  src/index.ts
  src/interpreter/index.ts
  src/lexer/ReservedWords.ts
  src/preprocessor/Manifest.ts
  src/preprocessor/index.ts
  src/stdlib/File.ts
  src/stdlib/Run.ts
  src/stdlib/index.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/run.brs
  test/e2e/resources/stdlib/runme.brs
  test/stdlib/File.test.js
  test/stdlib/Run.test.js
Labels: e2e, enhancement, interpreter, stdlib

#248 Added parser support for `goto` and labels
  src/parser/Parser.ts
  src/parser/Statement.ts
  test/parser/expression/Call.test.js
  test/parser/expression/__snapshots__/Call.test.js.snap
  test/parser/statement/Goto.test.js
  test/parser/statement/__snapshots__/Goto.test.js.snap
Labels: bug, enhancement, parser

#262 feat(stdlib): Implement global MatchFiles function
  package.json
  src/global.d.ts
  src/stdlib/File.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/files.brs
  test/stdlib/File.test.js
  yarn.lock
Labels: e2e, enhancement, stdlib

#264 Implement if sg node children
  src/brsTypes/components/RoSGNode.ts
  test/brsTypes/components/RoSGNode.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/resources/components/roSGNode.brs
Labels: e2e, enhancement, stdlib
