Repository sjbarag/brs, pull requests merged in 2020-11, with the labels that each got.

#577 fix(infra): Rename default branch from `master` to `main`
  .github/workflows/pull-request.yaml
  CONTRIBUTING.md
  docs/AddingComponents.md
Labels: build, documentation

#576 fix(manifest): BREAKING-CHANGE Prevent precision loss in parsed manifest
  src/preprocessor/Manifest.ts
  test/preprocessor/Manifest.test.js
Labels: bug, preprocessor

#578 feat(stdlib,exts): implement Tr
  .prettierignore
  README.md
  src/brsTypes/components/RoDeviceInfo.ts
  src/extensions/Process.ts
  src/index.ts
  src/stdlib/Localization.ts
  src/stdlib/index.ts
  test/e2e/BrsComponents.test.js
  test/e2e/Localization.test.js
  test/e2e/resources/components/localization/locale/en_US/translations.ts
  test/e2e/resources/components/localization/source/main.brs
  test/e2e/resources/components/roDeviceInfo.brs
Labels: documentation, e2e, enhancement, stdlib

#586 fix(interp): Remove unnecessary warnings
  src/interpreter/Environment.ts
  src/interpreter/index.ts
  test/e2e/BrsComponents.test.js
  test/e2e/BrsMock.test.js
Labels: bug, interpreter

#587 fix(stdlib): wait for async translations
  src/index.ts
  src/stdlib/Localization.ts
Labels: bug, stdlib
