Repository sjbarag/brs, pull requests merged in 2020-12, with the labels that each got.

#592 Fixes many sorting issues with mixed arrays (fixes #591)
  src/brsTypes/components/RoArray.ts
  test/brsTypes/components/RoArray.test.js
Labels: bug, stdlib

#590 feat(scenegraph,lex,parse): Add support for <ComponentLibrary/>
  package.json
  src/componentprocessor/index.ts
  src/index.ts
  src/interpreter/index.ts
  src/parser/ComponentScopeResolver.ts
  test/e2e/ComponentLibrary.test.js
  test/e2e/resources/component-library/README.md
  test/e2e/resources/component-library/components/RegistersCL.brs
  test/e2e/resources/component-library/components/RegistersCL.xml
  test/e2e/resources/component-library/components/library.zip
  test/e2e/resources/component-library/library/components/Bar.brs
  test/e2e/resources/component-library/library/components/Bar.xml
  test/e2e/resources/component-library/library/manifest
  test/e2e/resources/component-library/library/source/util.brs
  test/e2e/resources/component-library/package-library.sh
  test/e2e/resources/component-library/source/main.brs
  test/e2e/resources/component-library/source/util.brs
  yarn.lock
Labels: enhancement, lexer, parser, scenegraph

#593 feat(interp,exts): implement stack trace
  README.md
  src/extensions/GetStackTrace.ts
  src/extensions/index.ts
  src/interpreter/index.ts
  src/lexer/Token.ts
  test/e2e/GetStackTrace.test.js
  test/e2e/resources/components/stack-trace/@external/package/utils.brs
  test/e2e/resources/components/stack-trace/main.brs
  test/e2e/resources/components/stack-trace/print.brs
  test/extensions/getStackTrace.test.js
Labels: documentation, e2e, enhancement, interpreter

#597 fix(interp): Don't modify defaultExecutionOptions after creation
  src/LexerParser.ts
  src/index.ts
  src/interpreter/index.ts
Labels: bug, interpreter, lexer, parser

#595 chore(docs): alphabetize extensions on readme
  README.md
Labels: documentation

#596 Reverse stack trace
  src/extensions/GetStackTrace.ts
  test/e2e/GetStackTrace.test.js
  test/extensions/getStackTrace.test.js
Labels: bug
