Repository sjbarag/brs, pull requests merged in 2020-01, with the labels that each got.

#358 feat(stdlib): No-op Library statements instead of throwing
  src/interpreter/AutoBox.ts
  src/interpreter/index.ts
  src/parser/Statement.ts
Labels: bug, stdlib

#357 feat(parse): Allow `.` before indexed property access
  src/parser/Parser.ts
  test/e2e/resources/arrays.brs
  test/e2e/resources/associative-arrays.brs
  test/parser/expression/Indexing.test.js
  test/parser/expression/__snapshots__/Indexing.test.js.snap
Labels: bug, e2e, parser

#360 fix(interp): Automatically box return values for 'as object' return types
  src/brsTypes/Boxing.ts
  src/interpreter/index.ts
  test/e2e/Functions.test.js
  test/e2e/resources/function/return.brs
  test/interpreter/Call.test.js
Labels: bug, e2e, interpreter

#362 feat(stdlib): Implement getString() and toStr() on RoString
  src/brsTypes/components/RoString.ts
  test/brsTypes/components/RoString.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/resources/components/roString.brs
Labels: e2e, enhancement, stdlib

#364 fix(stdlib): Allow formatJson to serialize boxed types
  src/brsTypes/Boxing.ts
  src/stdlib/Json.ts
  test/e2e/resources/stdlib/json.brs
  test/stdlib/Json.test.js
Labels: bug, e2e, stdlib

#365 fix(interp): Automatically box `as object` function parameters
  src/interpreter/index.ts
  test/e2e/StdLib.test.js
  test/e2e/resources/stdlib/global-utilities.brs
  test/interpreter/Call.test.js
Labels: bug, e2e, interpreter

#368 feat(stdlib): Implement ifSGNodeField.hasField()
  src/brsTypes/components/RoSGNode.ts
  test/brsTypes/components/RoSGNode.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/resources/components/roSGNode.brs
Labels: enhancement, scenegraph, stdlib

#366 feat(stdlib): Add _brs_.process.argv to mirror node's process.argv
  src/extensions/Process.ts
  src/extensions/index.ts
  test/e2e/BrsNamespace.test.js
  test/e2e/MultiFile.test.js
  test/e2e/resources/stdlib/_brs_-namespace.brs
  test/extensions/Process.test.js
Labels: e2e, enhancement, stdlib
