Repository sjbarag/brs, pull requests merged in 2021-04, with the labels that each got.

#636 add isEmpty method to roString
  src/brsTypes/components/RoString.ts
  test/brsTypes/components/RoString.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/resources/components/roString.brs
Labels: enhancement, stdlib

#637 fix(lexer): Add support for explicit integer literals
  src/lexer/Lexer.ts
  test/e2e/Syntax.test.js
  test/e2e/resources/printLiterals.brs
  test/lexer/Lexer.test.js
Labels: bug, lexer

#641 fix(nightly): fetch two commits to detect commits-since-last-build
  .github/workflows/nightly-build.yaml
Labels: bug, build

#645 fix(rsg): Reparent does not add child to new parent
  src/brsTypes/components/RoSGNode.ts
  test/e2e/RoSGNode.test.js
  test/e2e/resources/components/roSGNode/roSGNode.brs
Labels: bug, scenegraph

#640 Issue #416 toString() method not printing string fields with quotes
  src/brsTypes/BrsType.ts
  src/brsTypes/components/RoString.ts
  test/brsTypes/components/ArrayGrid.test.js
  test/brsTypes/components/ContentNode.test.js
  test/brsTypes/components/Font.test.js
  test/brsTypes/components/Group.test.js
  test/brsTypes/components/Label.test.js
  test/brsTypes/components/LayoutGroup.test.js
  test/brsTypes/components/MarkupGrid.test.js
  test/brsTypes/components/MiniKeyboard.test.js
  test/brsTypes/components/Poster.test.js
  test/brsTypes/components/Rectangle.test.js
  test/brsTypes/components/RoArray.test.js
  test/brsTypes/components/RoAssociativeArray.test.js
  test/brsTypes/components/RoSGNode.test.js
  test/brsTypes/components/Scene.test.js
  test/brsTypes/components/TextEditBox.test.js
  test/brsTypes/components/Timer.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/StdLib.test.js
Labels: bug, e2e, stdlib

#647 fix(interpreter): Support case insensitive names for functions in components
  src/parser/ComponentScopeResolver.ts
  test/e2e/BrsComponents.test.js
  test/e2e/Functions.test.js
  test/e2e/resources/components/scripts/BaseComponent.brs
  test/e2e/resources/components/scripts/ExtendedComponent.brs
  test/e2e/resources/components/scripts/SupportScript.brs
  test/e2e/resources/function/casing.brs
Labels: bug, scenegraph

#639 feat(stdlib): Add lookupCI for assocarray and Node
  src/brsTypes/components/BrsComponent.ts
  src/brsTypes/components/RoAssociativeArray.ts
  src/brsTypes/components/RoSGNode.ts
  src/interpreter/index.ts
  test/brsTypes/components/RoAssociativeArray.test.js
  test/brsTypes/components/RoSGNode.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/Iterables.test.js
  test/e2e/RoSGNode.test.js
  test/e2e/Syntax.test.js
  test/e2e/resources/components/roAssociativeArray.brs
  test/e2e/resources/components/roSGNode/roSGNode.brs
Labels: e2e, enhancement, stdlib

#646 feat(extensions): Add _brs_.testData associative array
  src/extensions/index.ts
  src/index.ts
  test/extensions/testData.test.js
Labels: documentation, enhancement

#643 feat(stdlib): Implement roAppInfo
  src/brsTypes/components/BrsObjects.ts
  src/brsTypes/components/RoAppInfo.ts
  src/brsTypes/index.ts
  src/index.ts
  src/interpreter/index.ts
  test/brsTypes/components/RoAppInfo.test.js
  test/e2e/BrsComponents.test.js
  test/e2e/resources/components/roAppInfo.brs
  test/e2e/resources/conditional-compilation/manifest
Labels: e2e, enhancement, stdlib
